

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

tr
{
  font-family: 'Dosis', sans-serif;
}
/*body gradient*/
#grad1 {
        height: auto;
        background-color:grey; 
        background-image: linear-gradient(black); 
        width:1100px;
     	

}
/*resume body*/
#main
{
        background-color:white;
       width:880px;
        height:1200px;
        float:left;
        margin-left: 300px;
        padding-bottom: 90px;
}

/*resume first head div*/
.head {
          height: 250px;
          background-color:grey; 
          background-image: linear-gradient(#ff9999,#ffffff,#ff99cc); 
          width:880px;


          
     	

}
/*.head .img1
{
  width: 30%;
}
.head .headname
{
  width: 70%;

}*/
/*hr
{
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-height:30px;
  
}*/
/*#body
{
          background-color:white;
          width:750px;
          float: left;
  height: 200px;
}*/
.bottom
{
/*background-image:url(res4.jpg);*/
background-color:grey; 
          background-image: linear-gradient(#ff9999,#ffffff,#ff99cc); 
          width:880px;
          height:100px;
          float: left;
          margin-left: 300px;
          margin-top: -20px;
          
        
}


/*heading*/
/* .main .head{
  width: 100%
}
.main .head .logo{
  width: 40%
}
.main .head .name{
  width: 60%
}*/
/*.image1
{
  margin-left: -30px;
}
*/

/*#richard
{

font-family: 'Dosis', sans-serif; 

padding-right: 50px;
font-size:x-large;
padding-right:230px;

}
*/

/*.rating
{
  
background-color:black;
width:90px;
height:10px;
float:left;

}
.rating1
{
  
background-color:grey;
width:60px;
height:10px;
float:left;

}*/
.skill
{
  color: grey;
}
/*.rich
{
  margin-right: -400px;
  margin-bottom: -100px;
  font-size: large;
}*/

/*second div*/
.sec
{
  margin: 0px,50px,0px,50px;
  margin-left: 50px;
  margin-right: 50px;
}

/*resume name*/
.name
{
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -120px;
  margin-left: 190px;
}

/*head hr*/
.ruler
{
  width:430px;
 
 margin-right:160px;
  /*background-color: black;
  margin-top: 10px;
  float: left;*/


}
/*resume age*/
.age
{
  font-size: 25px;
  font-weight: bold;
}
/*head and h3 hover*/
p:hover,h3:hover
 {
  background-color: pink;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}